# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env files
.env
.env.local
.env.*.local

# macOS
.DS_Store
*.pem

# Local Netlify folder
.netlify

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Build artifacts
build/
*.tgz

# Testing
coverage/
.nyc_output/

# Temporary files
tmp/
temp/
